.moreNoticias{
    border: 5px;
}


ul{
    list-style-type: none;
}


.periodico{
    width: 500px;
}

#misiondiv{
    margin-top: 20px;
    padding: 0 120px;
}

.carrusel{
    margin: 0 auto;
    width: 1000px;
}